*~
Makefile
Makefile.in
Makefile.old

# Autoconf/Automake/etc
aclocal.m4
autom4te.cache/
configure
config.guess
config.log
config.status
config.sub

# Autoconf copy stuff
depcomp
install-sh
libtool
ltmain.sh
missing

# Standard build cruft
*.lo
*.la
*.o
*.obj
*.exe
*.tar.gz

# Build directories
bin/tidyp
tests/*.log
*/tmp
depcomp/
*/.deps/
*/.libs/
.deps/
tags

